h1{
  margin: 50px;
	color: black;
	text-align: center;
  font-family:Quicksand-regular;
  font-size: 75;
}
@font-face {
    font-family:Quicksand-regular ;
    src: url('src/police/Quicksand-regular.otf');
}
div{
  margin: 50px 10% 20px;;
  padding: auto;
  background-color:white;
}


body{
  background-color: white;
}