h1{
  margin: 50px;
  color: black;
  text-align: center;
  font-family:Quicksand-regular;
  font-size: 75;
  letter-spacing: 0.7em;
  text-indent: 0.7em;
}

h2{
  margin: 50px;
  color: black;
  text-align: center;
  font-family:Quicksand-regular;
  font-size: 50;
}

@font-face {
    font-family:Quicksand-regular ;
    src: url('src/police/Quicksand-regular.otf');
}nav ul li {
  text-align : center ;
  display : inline-block;
  width : 31%;
  font-size : 1.2rem;
  margin : 10px 0 10px 0;
  padding : 10px 10px 10px 10px;
}

div{
  margin: 50px 10% 20px;;
  padding: auto;
  background-color:white;
}


body{
  background-color: white;
  font-family: Quicksand-regular;
}

.espaceMusique{
  margin: auto;
  margin-bottom: 50px;
  height: 150px;
  width: 1400px;
  background-color: grey;
}

.logoMusique{
  margin: 25px 25px;
  height: 100px;
  width: 100px;

}

.logoMusique:hover{
  opacity: 0.5;
}

nav ul li {
  color: white;
  text-align : center ;
  display : inline-block;
  width : 30%;
  font-size :40px;
  margin : auto;
  padding : 10px 10px 10px 10px;
}


.binks1{
  background-color: #CFD1D5;
}

a {
  text-decoration : none ;
  color : black;
}

nav ul {
  text-align : center;
}